.navbar {
    background-color: rgb(39, 94, 156) !important;
}

#logo {
  max-width: 400px; /* tamaño base */
  height: auto;
}

/* Estilo específico para móviles */
@media (max-width: 768px) {
  #logo {
    content: url('../recursos/logoblanco.png') !important;  /* Cambia la imagen */
    max-width: 120px !important;  /* Asegura el tamaño del logo */
    height: auto !important;     /* Evita que se deforme */
  }
}

.titulo-de-bienvenida {
    display: flex;
    justify-content: center;
    font-size: large;
    color: aliceblue;
    font-weight: bolder;
    background-color: rgb(28, 76, 124);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}



body {
  margin: 0; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 780px) {
body {padding-right: 0px !important;}
}

.nav-text-hover {
    font-weight: 600;
    background: linear-gradient(to left, rgb(39, 94, 156) 50%, rgb(28, 76, 124) 50%) no-repeat 100% center / 200%;
}

.nav-text-hover:hover {
    background-position: 0% center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(39, 94, 156)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: rgb(39, 94, 156);
  }

 
  .animate__fadeInLeft {
    display: flex;
    justify-content: center;
 }
 
 @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateX(-100px); 
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }




  /* Estilizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Cambiar el color del "thumb" (la parte deslizante) */
::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Azul Bootstrap */
  border-radius: 5px;
}

/* Cambiar el fondo de la barra */
::-webkit-scrollbar-track {
  background: rgb(28, 76, 124); /* Color de fondo */
  
}
  
  .image-container {
    display: flex;
    justify-content: center; /* Centra la imagen */
    margin-top: 30px;
  }
  
  .image-container img {
    max-width: 100%; /* Evita que desborde en móviles */
    width: auto; /* Mantiene la proporción original */
    height: auto; /* Asegura que la imagen no se deforme */
    max-height: 700px; /* Opcional: Limita la altura sin deformar */
    border-radius: 10px; /* Opcional: Bordes redondeados */
    object-fit: contain; /* Mantiene la imagen sin recortar ni deformar */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Animación suave */
  }
  .image-container img:hover {
    transform: scale(1.05); /* Aumenta un 10% el tamaño al pasar el mouse */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada */
  }


  .titulo-de-bienvenida span {
    animation: fadeInText 1s ease-in-out forwards;
  } 

  

  h2 {
    font-family: 'Roboto Condensed', sans-serif; /* Fuente Roboto */
    text-align: center; /* Centrado */
    font-size: 2rem; /* Tamaño base */
    margin-top: 70px ;
    margin-bottom: 60px;
    line-height: 1.2; /* Espaciado entre líneas */
    color: rgb(28, 76, 124); /* Color del texto (opcional) */
  }

  #carouselExampleInterval {
    transition: opacity 0.3s ease-in-out; /* Transición suave al cambiar opacidad */
  }
  
  

  .text-justify {
    text-align: justify;
  }

  .custom-title {
    color:rgb(39, 94, 156); /* Color del título */
  }
  
  .custom-text {
    color: rgb(28, 76, 124); /* Color del texto */
  }
  
  .custom-btn {
    background-color: rgb(39, 94, 156); /* Color del fondo del botón */
    border-color: rgb(39, 94, 156); /* Color del borde del botón */
  }
  
  .custom-btn:hover {
    background-color: rgb(28, 76, 124); /* Color del botón al pasar el mouse */
    border-color: rgb(28, 76, 124);
  }
  
  .botoncito {
    margin: 20px;
  }
  .botoncito2 {
    margin-bottom: 100px;
  }
  
  .mb-4 {
    margin-bottom: 70px;
    color: rgb(28, 76, 124) ;
  }

  .textito2 {
    margin-bottom: 200px; 
    color: rgb(28, 76, 124);
    
  }

  .cartitaDestino {
    margin-bottom: 200px; 
    
    
  }

  .whatsapp-container {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto */
    
}

.whatsapp-icon {
  width: 60px; /* Reduce el tamaño */
  height: auto; /* Mantiene la proporción */
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
  transition: transform 0.2s ease-in-out; /* Efecto al pasar el mouse */

  /* Centrado y margen */
  display: block; 
  margin: 0 auto 60px; /* Centra horizontalmente y agrega margen abajo */
}



.whatsapp-icon:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

  .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Eleva la card 5px */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada */
  }

  .aboutText {
    max-width: 650px; /* Ajusta el ancho según tu preferencia */
    margin: 0 auto;
    text-align: justify; /* Justifica el texto */
    font-weight: 600; /* Hace que el texto sea negrita */
  }
  
  

  /* Media Query para pantallas grandes */
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; /* Aumenta tamaño en pantallas más grandes */
    }
  }
  
  .footer {
    position: relative;
    width: 100%;
    background: rgb(39, 94, 156);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    .swal2-popup {
        padding-right: 0px !important; 
    }
}
  




