.navbar {
    background-color: rgb(78, 0, 0) !important;
}

.titulo-de-bienvenida {
    display: flex;
    justify-content: center;
    font-size: large;
    color: aliceblue;
    font-weight: bolder;
    background-color: #a80000;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-bottom: 0px;
}

body {
  margin: 0;
  background-image: url('../recursos/fondo.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav-text-hover {
    font-weight: 600;
    background: linear-gradient(to left, rgb(78, 0, 0) 50%, rgb(168, 0, 0) 50%) no-repeat 100% center / 200%;
}

.nav-text-hover:hover {
    background-position: 0% center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(168, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: rgb(168, 0, 0);
  }

 
  .animate__fadeInLeft {
    display: flex;
    justify-content: center;
 }
 
 @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateX(-100px); 
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .titulo-de-bienvenida span {
    animation: fadeInText 1s ease-in-out forwards;
  }

  .cards-categorias {
    margin-bottom: 50px;
  }

  .mb-3 {
    font-display: flex;
    justify-content: center;
  }
  
  .card:hover {
    transform: scale(1.06) !important;
    transition: transform 0.3s ease !important;
  }
  
  .card {
    background-color: rgb(78, 0, 0);
    color: white;;
  }

  .card-title {
    font-weight: 700;
  }

  .btn-tienda {
    background-color: rgb(78, 0, 0);
    border-color: white;
    font-weight: 600;
  }

  .btn-tienda:hover {
    background-color: #a80000   ;
    border-color:  white;
    color: white ;
    font-weight: 600;
  }
  
  .btn-tienda:active  {
      background-color: #a80000 !important;
      border-color:  black !important;
      color: white ;
      font-weight: 600;
  }

  .footer {
    padding-top: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    background-color:rgb(78, 0, 0) ;
    margin-top: auto;
  }

  .tipo-de-mascota {
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(78, 0, 0);
  }

  @media (max-width: 600px) {
    .tipo-de-mascota {
      font-size: 35px; 
    }
  }

  ::-webkit-scrollbar {
    width: 15px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: rgb(78, 0, 0); /* Fondo gris casi negro para la pista */
}

::-webkit-scrollbar-thumb {
    background: #333; /* Color específico para el control deslizante */
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 0, 0); /* Color más claro para el control deslizante al pasar el mouse */
}

.carousel-marcas {
  margin-bottom: 100px;
}
  
.imagen-sobrenosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; 
  height: auto; 
}

.imagen-sobrenosotros img {
  max-width: 40%; 
  height: auto; 
  filter: grayscale(100%); /* Establece la imagen en blanco y negro */
  transition: filter 0.5s ease; /* Agrega una transición suave al cambiar el filtro */
  margin-bottom: 30px;
}

.imagen-sobrenosotros img:hover {
  filter: grayscale(0); /* Cambia la imagen a color cuando el mouse pasa sobre ella */
}

@media (max-width: 600px) {
  .imagen-sobrenosotros img {
    max-width: 90%; /* Tamaño más grande para dispositivos móviles */
    transform: scale(1); /* En dispositivos móviles, no reducir la imagen */
  }
}

h4 {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  color: rgb(78, 0, 0);
}

@media (max-width: 600px) {
  h4 {
    max-width: 90%; /* Tamaño más grande para dispositivos móviles */
    transform: scale(1); /* En dispositivos móviles, no reducir la imagen */
  }
}


.identidad-titulo {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(78, 0, 0);
}

@media (max-width: 600px) {
  .identidad-titulo {
    font-size: 35px; 
  }
}